
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&family=Merriweather&family=Roboto:wght@300&family=Work+Sans:wght@400;500;600;800&display=swap');
  
  
    /* this is shared option  */
   .primary-btn{ 
    border-radius: 8px;
    background: #FF900E; 
     color: #fff; 
      font-size: 1.2rem; 
       font-weight: 600; 
     padding: 20px 25px; 
      border: none; 
       cursor: pointer;
   }
  
  *{ 
    
    font-family: 'Work Sans', sans-serif;
   } 


   /* header part work */
    header{ 
        background: rgba(255, 144, 14, 0.10); 
         padding:  50px 240px;
    } 
    nav{ 
         display: flex; 
          justify-content: space-between;  
           align-items: center;
          
    } 
      .nav-title{ 
         color: #131313; 
          font-size: 2.8rem; 
           font-weight: 700;
      }
 nav ul{ 
     display: flex; 
     
 } 
   nav ul li{ 
     list-style:none; 
     margin-right: 30px;
   } 
    nav ul a{ 
         text-decoration: none; 
          color: #424242; 
           font-size: 1rem; 
            font-weight: 500;
    }  

     /* this is banner part  */ 
      .banner{ 
         width: 864px; 
      text-align: center;
      } 
       .banner-title{ 
         font-size: 4rem;
         font-weight: 700; 
          color: #131313;
       } 
        .banner-details{ 
             color: #727272;
        } 
         .banner-img>img{  
             margin-top: 20px;
             width:100%;
         }  
          /* this is main section part  */   

 .main-part{  
     max-width: 1440px;
     margin: 0 240px;
 }



            .future{ 
                 display: flex;
                  margin-top: 100px;
                   align-items: center; 
                  
            }  
             .future-picture{  
                 
                 display: grid; 
                  grid-template-columns: repeat(2,1fr); 
                   gap: 15px;
             } 
              .future-picture>img{ 
                 height: 250px;
              }
             .future-details{ 
                 padding-left: 72px;
             }
           .future-heading{ 
            width: 468px;
           
           color:  #131313;
           font-size: 2.8rem;
           font-weight: 500;
    } 
      .quick{ 
         color: #727272;
      } 
       .feature{ 
         color: #FF900E;
       } 
        .future-pera-details{ 
            width: 537px;
            color:  #727272;
             font-size: 1rem;
            font-weight: 400;

        }






                /* reponsive website  */ 
                 @media screen and ( max-width:576px) {
                     header{ 
                         padding: 0px;
                     } 
                      .banner{ 
                         width: 100%; 
                       
                      } 
                       nav{ 
                         flex-direction: column;
                       }
                 }  


                  /* tablet and mediam device  */ 
                   @media screen and (min-width:576px) and  (max-width:960px) {
                    header{ 
                        padding: 0;
                    } 
                     .banner{ 
                        width: 100%; 
                      
                     } 
                      nav{ 
                        flex-direction: column;
                      }
                   }  
                     

                    /* this is main part media quary  */
                    @media screen  and (max-width:576px) { 
                         
                         .future{ 
                             flex-direction: column-reverse; 
                              gap: 20px;
                         } 
                          .future-picture{ 
                             grid-template-columns: repeat(1,1fr);
                          } 
                           .future-details{ 
                            
                           }
                            .future-pera-details{ 
                                 width: 100%;
                            } 
                           .main-part{ 
                                 margin: 0;
                             }
                    } 
                     @media screen and (min-width:576px) and (max-width:960px) {
                        .future{ 
                            flex-direction: column-reverse; 
                             gap: 20px;}
                     }
                     